regions:
%{ for i in regions ~}
- ${i}
%{ endfor }
accounts:
  "${ACCOUNT_ID}": 
    presets:
    - sso
    - iam
    - cloudtrail
    - ssm
    - lambda
    - cloudformation
    - sns
    - guardduty
    - configsvc
    - cloudwatch
    - securityhub
    - ec2vpc

# Accounts to never touch
account-blocklist:
# Root
- 705293405956
# Audit

# Log archive

# AFT

# Prod Acc:
- 911525219171
- 923245014325
presets:
  sso:
    filters:
      IAMSAMLProvider:
      - type: "regex"
        value: "AWSSSO_.*_DO_NOT_DELETE"
      IAMRole:
      - type: "glob"
        value: "AWSReservedSSO_*"
      IAMRolePolicyAttachment:
      - type: "glob"
        value: "AWSReservedSSO_*"

  iam:
    filters:
      IAMRole:
      - "aws-controltower-ForwardSnsNotificationRole"
      - "aws-controltower-AdministratorExecutionRole"
      - "aws-controltower-ConfigrecorderRole"
      - "aws-controltower-ReadOnlyExecutionRole"
      - "AWSAFTExecution"
      - "AWSControlTowerExecution"
      - "AWSServiceRoleForAccessAnalyzer"
      - "AWSServiceRoleForAmazonGuardDuty"
      - "aws-controltower-ConfigRecorderRole"
      - "Jira-Insight-Import-Role"
      - "AWSControlTower_VPCFlowLogsRole"
      - "aws-nuker-lambda-role"
      - "AWSServiceRoleForCloudFormationStackSetsOrgMember"
      - type: "glob"
        value: "stacksets-exec-*"
      IAMPolicy:
      - type: "regex"
        value: "arn:aws:iam::[[:digit:]]{12}:policy/aws-nuker-lambda-logs"
      - type: "regex"
        value: "arn:aws:iam::[[:digit:]]{12}:policy/Jira-Insight-Import-Policy"
      IAMRolePolicyAttachment:
      - type: "glob"
        value: "aws-controltower-*"
      - "AWSAFTExecution -> AdministratorAccess"
      - "AWSControlTowerExecution -> AdministratorAccess"
      - "Jira-Insight-Import-Role -> Jira-Insight-Import-Policy"
      - "aws-nuker-lambda-role -> AdministratorAccess"
      - "aws-nuker-lambda-role -> aws-nuker-lambda-logs"
      - "AWSControlTower_VPCFlowLogsRole -> AWSLambdaBasicExecutionRole"
      - type: "glob"
        value: "stacksets-exec-*"
      - "aws-nuker-lambda-role -> aws-nuker-lambda-logs-policy"
      - type: "glob"
        value: "AWSServiceRoleFor*"
      IAMRolePolicy:
      - "aws-controltower-ForwardSnsNotificationRole -> sns"
      - "Jira-Insight-Import-Role -> Jira-Insight-Import-Policy"
      - type: "glob"
        value: "AWSReservedSSO_LZ_AdminAccess*"


  cloudtrail:
    filters:
      CloudTrailTrail:
      - "aws-controltower-BaselineCloudTrail"

  ssm:
    filters:
      SSMParameter:
      - type: "regex"
        property: Name 
        value: "/aft/account-request/.*"

  lambda:
    filters:
     LambdaFunction:
     - "aws-controltower-NotificationForwarder"
     - "aws-nuker"

  cloudformation:
    filters:
      CloudFormationStack:
       - type: "glob"
         value: "StackSet-AWSControlTowerBP*"
       - type: "glob"
         value: "StackSet-JiraInsightRole*"

  guardduty:
    filters:
      GuardDutyDetector:
      - type: "glob"
        value: "*"

  sns:
    filters:
      SNSSubscription:
      - type: "regex"
        value: "arn:aws:sns:.*:[[:digit:]]{12}:aws-controltower-SecurityNotifications*"
      SNSTopic:
      - type: "regex"
        value: "arn:aws:sns:.*:[[:digit:]]{12}:aws-controltower-SecurityNotifications"

  cloudwatch:
    filters:
      CloudWatchEventsRule:
      - "Rule: aws-controltower-ConfigComplianceChangeEventRule"
      - "Rule: aws-nuker-cron_schedule"
      CloudWatchLogsLogGroup:
      - "/aws/lambda/aws-controltower-NotificationForwarder"
      - "/aws/lambda/aws-nuker"
      - "aws-controltower/CloudTrailLogs"
      - type:
        value: "StackSet-AWSControlTowerBP-VPC-ACCOUNT-FACTORY*"
      CloudWatchEventsTarget:
      - type: "regex"
        value: "Rule: aws-controltower-*"
      - type: "regex"
        value: "Rule: aws-nuker-*"

  securityhub:
    filters:
      SecurityHub:
      - type: "regex"
        property: Arn
        value: "arn:aws:securityhub:.*:[[:digit:]]{12}:hub/default"

  configsvc:
    filters:
      ConfigServiceConfigRule:
      - type: "glob"
        value: "securityhub-*"
      - type: "glob"
        value: "OrgConfigRule*"
      ConfigServiceDeliveryChannel:
      - "aws-controltower-BaselineConfigDeliveryChannel"
      ConfigServiceConfigurationRecorder:
      - "aws-controltower-BaselineConfigRecorder"
  ec2vpc:
    filters:
     EC2VPC:
     - property: "tag:env"
       value: "dev"
     - type : "regex"
       property : Arn
       value : "arn:aws:ec2:.*:[[:digit:]]{12}:vpc/*"